/* * {
    border: 1px solid gray;
} */

body {
    background-color: #004E98;
    font-family: Arial, sans-serif;
    color: #373F51;
}

main, header, footer{
    background-color: #FFECD1;
    margin: 0 auto;
    border: 1px solid black;
    width: 80vw;
    padding: 1rem;
}

.titleImage {
    display: block;
    margin: auto;
    width: 80%;
}

h1 {
    color: #78290F;
    font-family: 'Red Hat Display', sans-serif;
    border-bottom: 1px solid #004E98;
}

h2 {
    color: #004E98;
    font-family: 'Roboto Mono', monospace;
    margin-left: 25px;
}

h3 {
    color: #373F51;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin-left: 100px;
}

hr {
    border: 1px solid #FF6700;
}

ul {
    margin-left: 75px;
}

img.side {
    float: right;
    margin: 0 12px;
}

blockquote {
    background-color: #78290F;
    padding: 1rem;
    color: #FFECD1;
}

#bigPic{
    width: 100%
}

a:link{
    color: #004E98
}
a:visited{
    color: #FF6700;
}
a:focus, a:hover{
    color: #373F51;
}
a:active{
    color: #78290F;
}